/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Fundo claro */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura total da tela */
}

/* Container principal */
.container {
    background-color: #ffffff; /* Fundo branco */
    padding: 30px;
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para destaque */
    width: 300px;
    height: 300px; /* Largura máxima */
}

/* Formulário */
form {
    display: flex;
    flex-direction: column;
}

/* Labels */
form label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #333333; /* Cor do texto */
}

/* Campos de entrada */
form input[type="text"],
form input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc; /* Borda cinza clara */
    border-radius: 5px; /* Bordas arredondadas */
    font-size: 14px;
    width: 100%; /* Largura total */
    box-sizing: border-box; /* Inclui padding na largura */
}

/* Botão */
form button {
    background-color: hwb(0 0% 0%); /* Azul */
    color: #ffffff; /* Texto branco */
    padding: 10px;
    border: none;
    border-radius: 5px; /* Bordas arredondadas */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Botão ao passar o mouse */
form button:hover {
    background-color: #0056b3; /* Azul mais escuro */
}

.login img{
    width: 100px;
    position: relative;
    left: 100px;
}

/* Responsividade */
@media (max-width: 600px) {
    .container {
        padding: 20px;
        width: 90%; /* Largura ajustada para telas menores */
    }

    form label {
        font-size: 12px; /* Reduz tamanho da fonte */
    }

    form input[type="text"],
    form input[type="password"] {
        font-size: 12px; /* Reduz tamanho da fonte */
    }

    form button {
        font-size: 14px; /* Reduz tamanho da fonte */
    }

    .login img{
        width: 80px; /* Reduz tamanho da imagem */
        position: relative;
        left: 65px; /* Ajusta a posição da imagem */
    }
}